@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


MENU PROFESORES

<li>@Html.ActionLink("Gestion grupos de clase", "Index", "Grupos")</li>
<li>@Html.ActionLink("Mi Asignación docente", "Index", "AsignacionDocentes")</li>
<li>@Html.ActionLink("Gestion matriculas", "Index", "Matriculas")</li>
<li>@Html.ActionLink("Gestión grupos de prácticas", "Index", "GrupoPracticas")</li>
<li>@Html.ActionLink("Gestión evaluaciones", "Index", "Evaluaciones")</li>
<li>@Html.ActionLink("Gestión tutorias", "Index", "Tutorias")</li>
<li>@Html.ActionLink("Gestión convocatorias", "Index", "Convocatorias")</li>




