@model IEnumerable<AppGestionEMS.Models.AsignacionDocentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.CursoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.GrupoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asignatura)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.CursoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.GrupoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asignatura)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { curso = item.CursoId, grupo =item.GrupoId, user = item.UserId, asignatura = item.Asignatura }) |
            @Html.ActionLink("Details", "Details", new { curso = item.CursoId, grupo =item.GrupoId, user = item.UserId, asignatura = item.Asignatura }) |  
            @Html.ActionLink("Delete", "Delete", new { curso = item.CursoId, grupo =item.GrupoId, user = item.UserId, asignatura = item.Asignatura })        </td>
    </tr>
}

</table>
